<footer class="aparecer">
    <nav class="navbar seccion bg-secondary" data-bs-theme="dark">
        <div class="container-fluid">
            <li>
                <a href="">
                    <i class="fa-brands fa-whatsapp wpp"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-envelope outlook"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-linkedin linkedin"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-github github"></i>
                </a>
            </li>
        </div>
    </nav>
</footer>
